@use "../../foundation/global" as *;

.p-index-hero {
  height: 890px;
  background-image: url(/images/visual.webp);
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  @include bp(pc) {
    background-image: url(/images/visual-mobile.webp);
    background-size: cover;
    height: auto;
    padding-top: 180%;
  }
  &__first-copy {
    padding: 0;
    margin: 0;
    width: 890px;
    position: absolute;
    left: 0;
    top: 0;
    @include bp(pc) {
      width: 100%;
    }
    img {
      width: 100%;
      transform: rotate(90deg) translate(0px, -100%);
      transform-origin: left top;
      @include bp(pc) {
        transform: rotate(0) translate(0);
      }
    }
  }
  &__second-copy {
    padding: 0;
    margin: 0;
    width: 890px;
    position: absolute;
    text-align: right;
    right: 0;
    top: 0;
    @include bp(pc) {
      width: 100%;
      top: auto;
      bottom: 7vw;
      text-align: center;
    }
    img {
      width: 100%;
      transform: rotate(270deg) translate(0px, -100%);
      transform-origin: right top;
      @include bp(pc) {
        width: 90%;
        transform-origin: center;
        transform: rotate(-10deg) translate(0vw, 0px);
      }
    }
  }
}
.p-index-about {
  background-image: url(/images/about-bg.svg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 60px 0;
}
.p-index-about-body {
  background-image: url(/images/about-content.svg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 20px;
  &__head {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    margin: 0;
    @include bp(sp) {
      font-size: 3rem;
    }
  }
  &__desc {
    text-align: center;
    color: #fff;
    margin: 2rem 0 0;
    span {
      display: inline-block;
    }
  }
  &__link {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  &__btn {
    background-color: #fff;
    color: $c-primary;
    font-weight: 600;
    padding: 0.8em 1.5em;
    display: inline-block;
    border-radius: 1.8em;
    transition: all 0.4s;
    font-size: 20px;
    @include hover {
      &:hover {
        transform: scale(1.1);
      }
    }
    &--disabled {
      pointer-events: none;
      background-color: #ccc;
    }
  }
}

.p-index-books {
  border: 40px solid $c-secondary;
  box-sizing: border-box;
  padding: 60px 20px;
  background-color: #fff;
  @include bp(tab) {
    border: 20px solid $c-secondary;
    padding: 40px 20px;
  }
  @include bp(sp) {
    border: 20px solid $c-secondary;
    border-right: none;
    border-left: none;
    padding: 40px 10px;
  }
  &__head {
    color: $c-secondary;
    font-size: 6rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0 0 40px;
    text-align: center;
    @include bp(sp) {
      font-size: 4rem;
    }
  }
  .c-book-block {
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    @include bp(tab) {
      padding: 15px;
    }
  }
}
