<!DOCTYPE html>
<html lang="ja">
{{ $slug := index (split .Permalink "/") (sub (len (split .Permalink "/")) 2) }}

{{ partial "site-head.html" .}}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXDGJ8X" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="l-page-wrap">

    <div class="l-sub-header">
      <a href="/" class="l-sub-header__logo">
      </a>

      <div class="l-sub-header__nav">
        <ol class="l-sub-header__breadcrumb">
          <li><a href="/">ホーム</a></li>
          <li>{{.Title}}</li>
        </ol>
      </div>

    </div>

    <div class="p-book-wrap">
      <div class="c-book-block">
        {{ $resource := .Resources.GetMatch "spec.json" }}
        {{if $resource}}
        {{ $data := getJSON "content" $resource.RelPermalink }}
        <div class="c-book-block__cover">
          <img src="/images/cover/{{$slug}}.webp" alt="">

          {{if $data.samplePage}}
          <div class="swiperModalButton">
            <button class="modalOpen">紙面サンプル</button>
          </div>

          <!-- モーダル -->
          <div class="modal" id="modal">
            <div class="modal__overlay modalClose"></div>
            <div class="modal__content">
              <div class="modal_inner">
                <div class="modal__close-btn modalClose" aria-label="閉じる"><span class="lineClose"></span></div>
                <!-- スライダー -->
                <div class="swiper modalInSlider">
                  <div class="swiper-wrapper">
                    {{ range $val := seq $data.samplePage }}
                    <div class="swiper-slide modalInSlider">
                      <p class="swiperBody">
                        {{ $filepath := printf "/images/sample/%s/%d.webp" $slug $val }}
                        <img src="{{ $filepath }}" alt="">
                      </p>
                    </div>
                    {{ end }}
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
          <!-- ここまで -->
          {{ end }}
        </div>
        <div class="c-book-block__info">
          <ul class="c-book-block__share">
            <li><a href="https://twitter.com/intent/tweet?text={{ $data.share_text }}{{ .Permalink }}"
                target="_blank"><img src="/images/icon-twitter.svg" alt="Twitterでシェア"></a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><img
                  src="/images/icon-facebook.svg" alt="Facebookでシェア"></a></li>
          </ul>
          {{if $data.title}}
          <h1 class="c-book-block__title">
            {{ $data.title | replaceRE "\n" "<br>" | safeHTML }}
          </h1>
          {{ end }}
          {{if $data.eventName}}
          <dl class="c-book-event">
            <dt>
              {{$data.eventName}}
            </dt>
            <dd>
              {{$data.spaceNo}}
            </dd>
          </dl>
          {{ end }}
          {{if $data.price}}
          <dl class="c-book-price">
            <dt>
              頒布価格
            </dt>
            <dd>
              ￥{{$data.price}}
            </dd>
          </dl>
          {{ end }}
          {{if $data.online_price}}
          <dl class="c-book-price c-book-price--digital">
            <dt>
              電子版
            </dt>
            <dd>
              ￥{{$data.online_price}}
            </dd>
          </dl>
          {{ end }}
          {{if $data.market}}
          <div class="c-book-online">
            <h4 class="c-book-online__head">オンライン</h4>
            <ul class="c-book-online__lineup">
              {{ range $market := $data.market }}
              <li>
                {{if $market.url}}
                <a href="{{$market.url}}" target="_blank" rel="noopener" class="c-book-online__btn">
                  {{$market.name}}
                </a>
                {{ else }}
                <a href="" target="_blank" rel="noopener" class="c-book-online__btn c-book-online__btn--disabled">
                  {{$market.name}}
                </a>
                {{ end }}
              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
        <div class="c-book-block__detail">
          {{if $data.description}}
          <p class="c-book-caption">
            {{ $data.description | replaceRE "\n" "<br>" | safeHTML }}
          </p>
          {{ end }}
        </div>
        {{ end }}

        {{ $resource := .Resources.GetMatch "index.json" }}
        {{if $resource}}
        <div class="c-book-index">
          <h2 class="c-book-index__head">目次</h2>
          <div class="c-book-index__items">
            {{ $data := getJSON "content" $resource.RelPermalink }}
            {{ range $index := $data }}
            <div class="c-book-index__unit">
              <h3>{{$index.section}}</h3>
              <ul>
                {{ range $content := $index.contents }}
                <li>{{$content}}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}

        {{ $resource := .Resources.GetMatch "member.json" }}
        {{if $resource}}
        <div class="c-book-member">
          <h2 class="c-book-member__head">書いた人たち</h2>
          <div class="c-book-member__items">
            {{ $data := getJSON "content" $resource.RelPermalink }}
            {{ range $members := $data }}
            <h3 class="c-member-head">{{ $members.role }}</h3>
            <div class="c-member-wrap">
              {{ range $member := $members.member }}
              <div class="c-member-unit">
                <h4>{{$member.name}}</h4>
                <ul>
                  {{ if (findRE "http.*" $member.url1) }}
                  <li><a href="{{$member.url1}}" target="_blank">{{$member.url1}}</a></li>
                  {{ else }}
                  <li>{{$member.url1}}</li>
                  {{ end }}
                  {{ if (findRE "http.*" $member.url2) }}
                  <li><a href="{{$member.url2}}" target="_blank">{{$member.url2}}</a></li>
                  {{ else }}
                  <li>{{$member.url2}}</li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}


        {{ $resource := .Resources.GetMatch "link.json" }}
        {{if $resource}}
        <div class="p-book-link">
          <h2 class="p-book-link__head">本誌内で紹介したサイト一覧</h2>
          <div class="p-book-link__items">
            {{ $data := getJSON "content" $resource.RelPermalink }}
            {{ range $link := $data }}
            <a href="{{ $link.url }}" target="_blank">
              <dl>
                <dt>P.{{ $link.page }}</dt>
                <dd><span>{{ $link.name }}</span></dd>
              </dl>
            </a>
            {{ end }}
          </div>
        </div>
        {{ end }}

      </div>
    </div>

    {{ partial "site-footer.html" .}}
  </div>
</body>

</html>