<div class="l-footer">
  <ul class="l-footer-share">
    <li><a href="https://twitter.com/intent/tweet?text={{ .Permalink }}" target="_blank"><img
          src="/images/icon-twitter-white.svg" alt="Twitterでシェア"></a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><img
          src="/images/icon-facebook-white.svg" alt="Facebookでシェア"></a></li>
  </ul>
  <p class="l-footer-copyright">
    Copyright &copy; 2023- Nostr Idol Project
  </p>
</div>
