<div class="l-footer">
  <ul class="l-footer-share">
    {{ $shareText := "Nostr Idol Project" | urlize }}
    <li><a href="https://twitter.com/intent/tweet?text={{ $shareText }}%0A%0A{{ .Site.BaseURL }}" target="_blank"><img
          src="/images/icon-twitter-white.svg" alt="Twitterでシェア"></a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Site.BaseURL }}" target="_blank"><img
          src="/images/icon-facebook-white.svg" alt="Facebookでシェア"></a></li>
  </ul>
  <p class="l-footer-nostr-jp">
    <a href="https://github.com/nostr-jp" target="_blank" class="l-footer-nostr-jp__btn">
      <span class="l-footer-nostr-jp__icon">
        <img src="/images/icon-github.svg" alt="GitHub">
      </span>
      <span class="l-footer-nostr-jp__label">
        Nostr-jp
      </span>
    </a>
  </p>
  <p class="l-footer-copyright">
    Copyright &copy; 2023- Nostr Idol Project
  </p>
</div>

<script>

  window.addEventListener("DOMContentLoaded", () => {
    // モーダルを取得
    const modal = document.getElementById("modal");
    // モーダルを開く
    const openModalBtns = document.querySelectorAll(".modalOpen");
    // モーダルを閉じる
    const closeModalBtns = document.querySelectorAll(".modalClose");

    // Swiperの設定
    const swiper = new Swiper(".swiper", {
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      spaceBetween: 10, //任意のマージン
    });

    // モーダルのボタンクリック
    openModalBtns.forEach((openModalBtn) => {
      openModalBtn.addEventListener("click", () => {
        modal.classList.add("is-active");
      });
    });

    // モーダルの閉じるボタンクリック
    closeModalBtns.forEach((closeModalBtn) => {
      closeModalBtn.addEventListener("click", () => {
        modal.classList.remove("is-active");
      });
    });
  });

</script>
