<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>404 Not found | Nostr Idol Project</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.min.css" />
</head>

<body>
  <div class="l-page-wrap">

    <div class="p-error-content">
      <div class="p-error-content-body">
        <h2 class="p-error-content-body__head">
          404<br>
          Not Found!
        </h2>
        <p class="p-error-content-body__desc">
          <a href="/" class="p-error-content-body__btn">
            GO HOME 
          </a>
        </p>
      </div>
    </div>


  </div>
</body>

</html>