<!DOCTYPE html>
<html lang="ja">

{{ partial "site-head.html" .}}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXDGJ8X" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="l-page-wrap">
    <div class="p-index-hero">
      <h1 class="screen-reader">{{ .Site.Title }}</h1>
      <p class="p-index-hero__first-copy">
        <picture>
          <source media="(max-width: 1080px)" srcset="/images/copy-1-full.svg">
          <img src="/images/copy-1.svg" alt="Twitter? Bluesky?時代はNostrだ！">
        </picture>
      </p>
      <p class="p-index-hero__second-copy">
        <picture>
          <source media="(max-width: 1080px)" srcset="/images/copy-2-full.svg">
          <img src="/images/copy-2.svg" alt="分散型の最先端がここにある">
        </picture>
      </p>
    </div>

    <div class="p-index-about">
      <div class="p-index-about-body">
        <h2 class="p-index-about-body__head">
          What's<br>
          Nostr Idol Project
        </h2>
        <p class="p-index-about-body__desc">
          <span>対話型bot『Nostrちゃん』に</span><span>「推しのNIPを教えて！」と</span><br>
          <span>質問したところから</span><span>全てが始まったプロジェクト。</span><br>
          <span>NIPとは本来Nostrの仕様</span><span>そのもののことだが、</span><br><span>あろうことかNostrちゃんは</span><br>
          <br>
          <span>“はい！</span><span>NIPは「Nostr Idol Project」の略です！</span><br>
          <span>NIPでは、Nostrのアイドルたちが</span><span>活動しています！</span><br>
          <span>皆さんも是非、</span><span>NIPを楽しんでくださいね！”</span><br>
          <br>
          <span>と、元気よく</span><span>誰もが予想しない答えをはじきだし、</span><br>
          <span>ここにアイドルプロジェクトが</span><span>誕生してしまった。</span><br>
          <br>
          <span>そう、つまりはただのノリ。</span><br>
          <span>Nostrを愛し、</span><span>楽しむ者たちのプロジェクトなのだ。</span>
        </p>
      </div>
    </div>

    <div class="p-index-books">
      <h2 class="p-index-books__head">BOOKS</h2>

      {{ $latest := first 1 .Site.RegularPages.ByDate.Reverse }}
      {{ range $latest }}
      {{ $full_name := printf "/content%sspec.json" .RelPermalink }}
      {{ $data := getJSON $full_name }}
      {{if $data}}

      {{ $slug := index (split .Permalink "/") (sub (len (split .Permalink "/")) 2) }}
      <div class="c-book-block">
        <div class="c-book-block__cover">
          <img src="/images/cover/{{$slug}}.webp" alt="">

          {{if $data.samplePage}}
          <div class="swiperModalButton">
            <button class="modalOpen">紙面サンプル</button>
          </div>

          <!-- モーダル -->
          <div class="modal" id="modal">
            <div class="modal__overlay modalClose"></div>
            <div class="modal__content">
              <div class="modal_inner">
                <div class="modal__close-btn modalClose" aria-label="閉じる"><span class="lineClose"></span></div>
                <!-- スライダー -->
                <div class="swiper modalInSlider">
                  <div class="swiper-wrapper">
                    {{ range $val := seq $data.samplePage }}
                    <div class="swiper-slide modalInSlider">
                      <p class="swiperBody">
                        {{ $filepath := printf "/images/sample/%s/%d.webp" $slug $val }}
                        <img src="{{ $filepath }}" alt="">
                      </p>
                    </div>
                    {{ end }}
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
          <!-- ここまで -->
          {{ end }}
        </div>
        <div class="c-book-block__info">
          <ul class="c-book-block__share">
            <li><a href="https://twitter.com/intent/tweet?text={{ $data.share_text }}{{ .Permalink }}"
                target="_blank"><img src="/images/icon-twitter.svg" alt="Twitterでシェア"></a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><img
                  src="/images/icon-facebook.svg" alt="Facebookでシェア"></a></li>
          </ul>
          {{if $data.title}}
          <h1 class="c-book-block__title">
            <a href="{{.RelPermalink}}">
              {{ $data.title | replaceRE "\n" "<br>" | safeHTML }}
            </a>
          </h1>
          {{ end }}
          {{if $data.eventName}}
          <dl class="c-book-event">
            <dt>
              {{$data.eventName}}
            </dt>
            <dd>
              {{$data.spaceNo}}
            </dd>
          </dl>
          {{ end }}
          {{if $data.price}}
          <dl class="c-book-price">
            <dt>
              頒布価格
            </dt>
            <dd>
              ￥{{$data.price}}
            </dd>
          </dl>
          {{ end }}
          {{if $data.online_price}}
          <dl class="c-book-price c-book-price--digital">
            <dt>
              電子版
            </dt>
            <dd>
              ￥{{$data.online_price}}
            </dd>
          </dl>
          {{ end }}
          {{if $data.online_set_price}}
          <dl class="c-book-price c-book-price--digital">
            <dt>
              電子版＋紙
            </dt>
            <dd>
              ￥{{$data.online_set_price}}
            </dd>
          </dl>
          {{ end }}
          {{if $data.market}}
          <div class="c-book-online">
            <h4 class="c-book-online__head">オンライン</h4>
            <ul class="c-book-online__lineup">
              {{ range $market := $data.market }}
              <li>
                {{if $market.url}}
                <a href="{{$market.url}}" target="_blank" rel="noopener" class="c-book-online__btn">
                  {{$market.name}}
                </a>
                {{ else }}
                <a href="" target="_blank" rel="noopener" class="c-book-online__btn c-book-online__btn--disabled">
                  {{$market.name}}
                </a>
                {{ end }}
              </li>
              {{ end }}
            </ul>
          </div>
          {{if $data.sales_start}}
          <p class="c-book-sales">
            {{$data.sales_start}}
          </p>
          {{ end }}
          {{ end }}
        </div>
        <div class="c-book-block__detail">
          {{if $data.description}}
          <p class="c-book-caption">
            {{ $data.description | replaceRE "\n" "<br>" | safeHTML }}
          </p>
          {{ end }}

          <p class="c-book-link">
            <a href="{{.RelPermalink}}" class="c-book-link__btn">
              本の詳細はこちら
            </a>
          </p>
        </div>
      </div>
      {{end}}
    </div>
    {{end}}

    {{ partial "site-footer.html" .}}
  </div>
</body>

</html>