<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" content="FQDN">
  <meta property="og:locale" content="ja_JP">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Nostr Idol Project">
  <meta property="og:title" content="Nostr Idol Project">
  <meta property="og:image" content="{{ .Site.BaseURL }}images/ogp.jpg">

  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Site.BaseURL }}">

  <title>Nostr Idol Project</title>

  <meta property="og:description" content="Nostrを愛し、楽しむ者たちのプロジェクト。技術書典14にて『Hello Nostr!先住民が教えるNostrの歩き方』を頒布します。">
  <meta name="description" content="Nostrを愛し、楽しむ者たちのプロジェクト。技術書典14にて『Hello Nostr!先住民が教えるNostrの歩き方』を頒布します。">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.min.css" />
</head>

<body>
  <div class="l-page-wrap">
    <div class="p-index-hero">
      <h1 class="screen-reader">Nostr Idol Project</h1>
      <p class="p-index-hero__first-copy">
        <picture>
          <source media="(max-width: 1080px)" srcset="/images/copy-1-full.svg">
          <img src="/images/copy-1.svg" alt="Twitter? Bluesky?時代はNostrだ！">
        </picture>
      </p>
      <p class="p-index-hero__second-copy">
        <picture>
          <source media="(max-width: 1080px)" srcset="/images/copy-2-full.svg">
          <img src="/images/copy-2.svg" alt="分散型の最先端がここにある">
        </picture>
      </p>
    </div>

    <div class="p-index-about">
      <div class="p-index-about-body">
        <h2 class="p-index-about-body__head">
          What's<br>
          Nostr Idol Project
        </h2>
        <p class="p-index-about-body__desc">
          <span>対話型bot『Nostrちゃん』に</span><span>「推しのNIPを教えて！」と</span><br>
          <span>質問したところから</span><span>全てが始まったプロジェクト。</span><br>
          <span>NIPとは本来Nostrの仕様</span><span>そのもののことだが、</span><br><span>あろうことかNostrちゃんは</span><br>
          <br>
          <span>“はい！</span><span>NIPは「Nostr Idol Project」の略です！</span><br>
          <span>NIPでは、Nostrのアイドルたちが</span><span>活動しています！</span><br>
          <span>皆さんも是非、</span><span>NIPを楽しんでくださいね！”</span><br>
          <br>
          <span>と、元気よく</span><span>誰もが予想しない答えをはじきだし、</span><br>
          <span>ここにアイドルプロジェクトが</span><span>誕生してしまった。</span><br>
          <br>
          <span>そう、つまりはただのノリ。</span><br>
          <span>Nostrを愛し、</span><span>楽しむ者たちのプロジェクトなのだ。</span>
        </p>
      </div>
    </div>

    <div class="p-index-books">
      <h2 class="p-index-books__head">BOOKS</h2>


      <div class="c-book-block">
        <div class="c-book-block__cover">
          <img src="/images/cover/01.webp" alt="">
        </div>
        <div class="c-book-block__info">
          <ul class="c-book-block__share">
            <li><a href="https://twitter.com/intent/tweet?text={{ .Permalink }}" target="_blank"><img src="/images/icon-twitter.svg" alt="Twitterでシェア"></a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><img src="/images/icon-facebook.svg" alt="Facebookでシェア"></a></li>
          </ul>
          <h3 class="c-book-block__title">
            Hello Nostr!<br>
            先住民が教えるNostrの歩き方
          </h3>
          <dl class="c-book-event">
            <dt>
              技術書典14
            </dt>
            <dd>
              配置番号
            </dd>
          </dl>
          <dl class="c-book-price">
            <dt>
              頒布価格
            </dt>
            <dd>
              ￥XXXX
            </dd>
          </dl>
          <div class="c-book-online">
            <h4 class="c-book-online__head">オンライン</h4>
            <ul class="c-book-online__lineup">
              <li>
                <a href="" target="_blank" rel="noopener" class="c-book-online__btn">
                  技術書典マーケット
                </a>
              </li>
              <li>
                <a href="" target="_blank" rel="noopener" class="c-book-online__btn c-book-online__btn--disabled">
                  BOOTH
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="c-book-block__detail">
          <p class="c-book-caption">
            Twitterがイーロン・マスクによって買収されたことにより、Twitterの仕様がかつてないほどの激動を見せており、存続を危ぶむ声を各所で耳にするようになりました。<br>
            そこで、避難所として分散SNSの『Misskey』『Mastodon』『Bluesky』などが注目を浴びています。<br>
            そんな中、ひときわ異彩を放つ分散SNSのプロトコルがNostrです。<br>
            <br>
            プロトコル？サービスではないの？<br>
            SNSなのに『異彩』というのはいったいどういうこと？<br>
            特殊なのにそこに集まる人とは一体？<br>
            <br>
            この本はNostrが好きでたまらない人達が書いた本です。<br>
            あなたが感じた疑問に対する答え、解説をそんな私たちが頑張って書きました。<br>
            少しでもNostrに興味を持ったあなたも、この一冊を手に一緒にNostrを楽しみませんか？
          </p>
        </div>
      </div>
    </div>

    <div class="l-footer">
      <ul class="l-footer-share">
        <li><a href="https://twitter.com/intent/tweet?text={{ .Permalink }}" target="_blank"><img src="/images/icon-twitter-white.svg" alt="Twitterでシェア"></a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><img src="/images/icon-facebook-white.svg" alt="Facebookでシェア"></a></li>
      </ul>
      <p class="l-footer-copyright">
        Copyright &copy; 2023- Nostr Idol Project
      </p>
    </div>

  </div>
</body>

</html>